<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="topnav">
        <!-- Centered link -->
        <div class="topnav-centered">
            <h1><a href="/profile" class="active">Eazy Sneezy Social</a></h1>
        </div>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </section>
    <!--Entries-->
    <section>
        <h2>
            <%= entry.title %>
        </h2>
        <img src="../<%= entry.image%>" />
        <div>
            <%if(entry.likes.includes(user.id)){%>
                <form action="/entries/unlikeEntry/<%= entry.id %>?_method=PUT" method="POST">
                    <button type="submit">unLike</button>
                </form>
            <%} else {%>
                <form action="/entries/likeEntry/<%= entry.id %>?_method=PUT" method="POST">
                    <button type="submit">Like</button>
                </form>
            <%} %>

            <h3>Likes: <%= entry.likeCount %>
            </h3>
            <%if(entry.user==user.id){ %>
                <form action="/entries/deleteEntry/<%= entry.id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            <%}%>
        </div>
    </section>
    <h1>HELLO?!</h1>
</body>