<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Sneezy Feed</title>
</head>

<body>
    <section class="topnav">
        <!-- Centered link -->
        <div class="topnav-centered">
            <h1><a href="/profile" class="active">Eazy Sneezy Social</a></h1>
        </div>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="/profile">Profile</a>
            <a href="/logout">Logout</a>
        </div>
    </section>
    <!--Entries-->
    <section>
        <div class="feed-container">
            <ul>
                <% for(var i=0; i<entry.length; i++) {%>
                <li class="card">
                    <div class="entry-topper">
                        <div class="entry-title">
                            <p><%= entry[i].title%></p>
                        </div>
                        <div class="entry-author">
                            <p><%= entry.req.user%></p>
                        </div>
                    </div>
                    <img class="feed-img" src="<%= entry[i].image%>">
                    <div>
                        <%if(entry.likes.includes(user.id)){%>
                        <form action="/entries/unlikeEntry/<%= entry.id %>?_method=PUT" method="POST">
                            <button type="submit">unLike</button>
                        </form>
                        <%} else {%>
                        <form action="/entries/likeEntry/<%= entry.id %>?_method=PUT" method="POST">
                            <button type="submit">Like</button>
                        </form>
                        <%} %>

                        <h3>Likes: <%= entry.likeCount %></h3>
                        <%if(entry.user == user.id){ %>
                        <form action="/entries/deleteEntry/<%= entry.id %>?_method=DELETE" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                        <%}%>
                    </div>
                </li>
                    <% } %>
            </ul>
        </div>
    </section>

</body>

</html>