<h1>Entry</h1>
<h2>will render a specific entry by its id </h2>

<p>test ejs</p>
<h2><%= entry.title %></h2>
<img src="../<%= entry.image%>" />
<div>
    <form 
    action="/entries/likeEntry/<%= entry.id %>?_method=PUT" 
    method="POST">
        <button type="submit">Like</button>
    </form>
    <h3>Likes: <%= entry.likes %></h3>
    <%if(entry.user == user.id){ %>
        <form
          action="/entries/deleteEntry/<%= entry.id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">Delete</button>
        </form>
        <%}%>
</div>